<section class="orders light-section">
    <div class="container mx-auto pt-12 p-8">
        <h1 class="font-bold p-7 text-2xl mb-4">All orders</h1>
        <div id="sucess-alert" class="flex items-center justify-center bg-green-500 text-white font-bold px-4 py-4" role="alert">
            
            <p class="text-xl">!!!  order placed Sucessfully   !!!</p>
          
        </div>


        <table class="w-full table-auto bg-white">
            <thead>
                <tr>
                    <th class="px-4 py-2 text-left">Order</th>
                    <th class="px-4 py-2 text-left">Address</th>
                    <th class="px-4 py-2 text-left">Time</th>

                </tr>

            </thead>

            <tbody>
                <tr>
                    <td class="border px-4 py-4">
                        <a class="link" href="/">idddddddddddddddddddddddddddddd</a>
                    </td>

                    <td class="border px-4 py-4">Test Address</td>
                    <td class="border px-4 py-4">9.40 am</td>

                </tr>
            </tbody>

        </table>
    </div>
</section>